* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul li {
    list-style: non;
    display: inline;

}

nav a {
    text-decoration: none;
    color: white;
    padding-left: 40px;
}

nav {
    background-color: rgb(39, 39, 104);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    color: white;
    padding: 10px;

}

header img {
    width: 500px;
    height: 500px;
    margin-top: 40px;
}

header {
    display: flex;
    justify-content: space-around;

}

header div h3 {
    color: blue;
    font-size: 40px;
    margin-top: 6rem;
    margin-left: 4rem;
}

header div p {
    font-size: 25px;
    color: rgb(26, 25, 25);
    padding: 20px;
    margin-left: 3rem;
}

header div button {
    width: 120px;
    height: 40px;
    color: whitesmoke;
    border: none;
    background-color: green;
    font-size: 15px;
    margin-left: 4rem;
}

@media only screen and (max-width:850px) {
    nav ul li {
        display: none;
    }

    header {
        flex-direction: column;
    }

    header div button {
        margin-left: 12rem;
    }

    header div h3 {
        margin-left: 6rem;
    }
}